[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytesseract = "*"
toml = "*"
pillow = "*"
opencv-python = "*"
numpy = "*"
imutils = "*"
scipy = "*"
mss = "*"

[dev-packages]

[requires]
python_version = "3.10"
